* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
}

fieldset{
    background-color: lightgrey;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divLightBlue{
    background-color: lightblue;
}

.divGray{
   background-color: gray; 
}