<!DOCTYPE html>
<html lang="ptBR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/ProgramacaoWebUnidavi/TrabalhoSemestral/public/img/avaliacao.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="/ProgramacaoWebUnidavi/TrabalhoSemestral/public/css/index.css" rel="stylesheet">
    <link href="/ProgramacaoWebUnidavi/TrabalhoSemestral/public/css/header.css" rel="stylesheet">
    <link href="/ProgramacaoWebUnidavi/TrabalhoSemestral/public/css/navbar.css" rel="stylesheet">
    <link href="/ProgramacaoWebUnidavi/TrabalhoSemestral/public/css/modal.css" rel="stylesheet">
    <link href="/ProgramacaoWebUnidavi/TrabalhoSemestral/public/css/painelAdministrador.css" rel="stylesheet">
    <script src="/ProgramacaoWebUnidavi/TrabalhoSemestral/public/js/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="/ProgramacaoWebUnidavi/TrabalhoSemestral/public/js/message.min.js"></script>
    <script src="/ProgramacaoWebUnidavi/TrabalhoSemestral/public/js/ajax.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Voting</title>
</head>
<body>
    <div class="app" id="app" name="app">
        <header role="heading">
            <span class="menu" id="menu" name="menu"></span>
        </header>
        <nav class="navegacao" id="navegacao" name="navegacao" role="navigation" aria-label="Navegação">
            <span class="navegacaoItem" id="navegacaoItemAvaliacao" name="navegacaoItemAvaliacao">Avaliação</span role="navigation" aria-label="Navegação para Página de Avaliação">
            <span class="navegacaoItem" id="navegacaoItemResetarEscolhaDispositivo" name="navegacaoItemResetarEscolhaDispositivo">Resetar Escolha Dispositivo</span role="button" aria-label="Reseta a Escolha do Dispositivo Para a Avaliação">
            <span class="navegacaoItem" id="navegacaoItemDeslogar" name="navegacaoItemDeslogar">Deslogar</span role="navigation" aria-label="Desloga do Painel do Administrador">
        </nav>
        <main>
            <section class="dashboard" name="dashboard" id="dashboard">
                <div class="dashboardMenu">
                    <span class="dashboardMenuOption" id="dashboardMenuOptionSetores" name="dashboardMenuOptionSetores">Setores</span>
                    <span class="dashboardMenuOption" id="dashboardMenuOptionDispositivos" name="dashboardMenuOptionDispositivos">Dispositivos</span>
                    <span class="dashboardMenuOption" id="dashboardMenuOptionPerguntas" name="dashboardMenuPerguntas">Perguntas</span>
                    <span class="dashboardMenuOption" id="dashboardMenuOptionAvaliacoes" name="dashboardMenuOptionAvaliacoes">Avaliações</span>
                </div>
                <div class="dashboardMenuItens" id="dashboardMenuItens" name="dashboardMenuItens"></div>
            </section>
        </main>
    </div>
    <section class="janela" role="dialog" name="modal" id="modal">
        <div class="modalHeader" name="modalHeader" id="modalHeader">
            <div>
                <span class="modalHeaderTitulo" id="modalHeaderTitulo" name="modalHeaderTitulo"></span>
            </div>
            <div class="modalHeaderAcoes">
                <button class="btn btn-danger" name="modalHeaderAcoesFechar" id="modalHeaderAcoesFechar">X</button>
            </div>
        </div>
        <div class="modalContent" name="modalContent" id="modalContent"></div>
        <div class="modalFooter" name="modalFooter" id="modalFooter">
            <button class="btn btn-primary" name="modalFooterBotaoConfirmar" id="modalFooterBotaoConfirmar">Confirmar</button>
        </div>
    </section>

    <!-- estrutura -->
    <div class="setores" id="setores" name="setores">
        <div class="menuSetores">
            <button class="btn btn-success" id="estruturabtnIncluirSetor" name="estruturabtnIncluirSetor">Incluir</button>
        </div>
        <div class="consulta">
            <table id="estruturatabelaSetores" name="estruturatabelaSetores">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Alterar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="totalizadorConsulta">
            <span class="totalSetores" id="estruturatotalSetores" name="estruturatotalSetores"></span>
        </div>
    </div>
    <div class="perguntas" id="perguntas" name="perguntas">
        <div class="filtrosPerguntas">
            <span>Setor:</span>
            <select class="filtrosPerguntaslistaSetores" name="estruturafiltrosPerguntaslistaSetores" id="estruturafiltrosPerguntaslistaSetores"></select>
            <button class="btn btn-primary" id="estruturabtnCarregarPerguntas" name="estruturabtnCarregarPerguntas">Pesquisar</button>
        </div>
        <div class="acoesPerguntas">
            <button class="btn btn-success" id="estruturabtnIncluirPergunta" name="estruturabtnIncluirPergunta">Incluir</button>
        </div>
        <div class="consulta">
            <table class="tabelaPerguntas" id="estruturatabelaPerguntas" name="estruturatabelaPerguntas">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Pergunta</th>
                        <th>Ativo</th>
                        <th>Alterar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="totalizadorConsulta">
            <span class="totalPerguntas" id="estruturatotalPerguntas" name="estruturatotalPerguntas"></span>
        </div>
    </div>
    <div class="avaliacoes" id="avaliacoes" name="avaliacoes">
        <div class="filtrosAvaliacoes">
            <span>Setor:</span>
            <select class="filtrosAvaliacoesListaSetores" name="estruturafiltrosAvaliacoesListaSetores" id="estruturafiltrosAvaliacoesListaSetores"></select>
            <button class="btn btn-primary" id="estruturabtnCarregarAvaliacoes" name="estruturabtnCarregarAvaliacoes">Pesquisar</button>
        </div>
        <div class="consulta">
            <table class="tabelaAvaliacoes" id="estruturatabelaAvaliacoes" name="estruturatabelaAvaliacoes">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="totalizadorConsulta">
            <span class="totalAvaliacoes" id="estruturatotalAvaliacoes" name="estruturatotalAvaliacoes"></span>
        </div>
    </div>
    <div class="dispositivos" id="dispositivos" name="dispositivos">
        <div class="menuDispositivos">
            <button class="btn btn-success" id="estruturabtnIncluirDipositivo" name="estruturabtnIncluirDispositivo">Incluir</button>
        </div>
        <div class="consulta">
            <table id="estruturatabelaDispositivos" name="estruturatabelaDispositivos">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Ativo</th>
                        <th>Setor</th>
                        <th>Alterar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="totalizadorConsulta">
            <span class="totalDispositivos" id="estruturatotalDispositivos" name="estruturatotalDispositivos"></span>
        </div>
    </div>
    <div class="modalContentSetor" id="modalContentSetor" name="modalContentSetor">
        <input type="text" class="form-control modalSetorIdSetor" name="estruturamodalSetorIdSetor" id="estruturamodalSetorIdSetor" readonly placeholder="Código">
        <input type="text" class="form-control modalSetorNomeSetor" name="estruturamodalSetorNomeSetor" id="estruturamodalSetorNomeSetor" placeholder="Nome do Setor...">
    </div>
    <div class="modalContentPergunta" id="modalContentPergunta" name="modalContentPergunta">
        <input type="text" class="form-control modalPerguntaId" name="estruturamodalPerguntaId" id="estruturamodalPerguntaId" readonly placeholder="Código">
        <select class="modalPerguntaSetor" name="estruturamodalPerguntaSetor" id="estruturamodalPerguntaSetor"></select>
        <select class="modalDispositivoAtivo" name="estruturamodalPerguntaAtivo" id="estruturamodalPerguntaAtivo">
            <option value="0">Não</option>
            <option value="1">Sim</option>
        </select>
        <textarea type="text" class="form-control modalPerguntaQuestao" name="estruturamodalPerguntaQuestao" id="estruturamodalPerguntaQuestao" placeholder="Informe a pergunta..."></textarea>
    </div>
    <div class="modalContentDispositivo" id="modalContentDispositivo" name="modalContentDispositivo">
        <input type="text" class="form-control modalDispositivoId" name="estruturamodalDispositivoId" id="estruturamodalDispositivoId" readonly>
        <select class="modalDispositivoSetor" name="estruturamodalDispositivoSetor" id="estruturamodalDispositivoSetor"></select>
        <select class="modalDispositivoAtivo" name="estruturamodalDispositivoAtivo" id="estruturamodalDispositivoAtivo">
            <option value="0">Não</option>
            <option value="1">Sim</option>
        </select>
        <input type="text" class="form-control modalDispositivoNome" name="estruturamodalDispositivoNome" id="estruturamodalDispositivoNome" placeholder="Informe o nome do dispositivo...">
    </div>
    <script src="/ProgramacaoWebUnidavi/TrabalhoSemestral/public/js/header.min.js"></script>
    <script src="/ProgramacaoWebUnidavi/TrabalhoSemestral/public/js/painelAdministrador.min.js"></script>
</body>
</html>