<!DOCTYPE html>
<html lang="ptBR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/ProgramacaoWebUnidavi/TrabalhoSemestral/public/img/avaliacao.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="/ProgramacaoWebUnidavi/TrabalhoSemestral/public/css/index.css" rel="stylesheet">
    <link href="/ProgramacaoWebUnidavi/TrabalhoSemestral/public/css/header.css" rel="stylesheet">
    <link href="/ProgramacaoWebUnidavi/TrabalhoSemestral/public/css/navbar.css" rel="stylesheet">
    <link href="/ProgramacaoWebUnidavi/TrabalhoSemestral/public/css/modal.css" rel="stylesheet">
    <link href="/ProgramacaoWebUnidavi/TrabalhoSemestral/public/css/painelAdministrador.css" rel="stylesheet">
    <script src="/ProgramacaoWebUnidavi/TrabalhoSemestral/public/js/jquery.js"></script>
    <script src="/ProgramacaoWebUnidavi/TrabalhoSemestral/public/js/message.js"></script>
    <script src="/ProgramacaoWebUnidavi/TrabalhoSemestral/public/js/ajax.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Voting</title>
</head>
<body>
    <div class="app" id="app" name="app">
        <header role="heading">
            <span class="menu" id="menu" name="menu"></span>
        </header>
        <nav class="navegacao" id="navegacao" name="navegacao" role="navigation" aria-label="Navegação">
            <span class="navegacaoItem">Avaliação</span role="navigation" aria-label="Navegação para Página de Avaliação">
        </nav>
        <main>
            <section class="dashboard" name="dashboard" id="dashboard">
                <div class="dashboardMenu">
                    <span class="dashboardMenuOption" id="dashboardMenuOptionSetores" name="dashboardMenuOptionSetores">Setores</span>
                    <span class="dashboardMenuOption" id="dashboardMenuOptionDispositivos" name="dashboardMenuOptionDispositivos">Dispositivos</span>
                    <span class="dashboardMenuOption" id="dashboardMenuOptionPerguntas" name="dashboardMenuPerguntas">Perguntas</span>
                    <span class="dashboardMenuOption" id="dashboardMenuOptionAvaliacoes" name="dashboardMenuOptionAvaliacoes">Avaliações</span>
                </div>
                <div class="dashboardMenuItens" id="dashboardMenuItens" name="dashboardMenuItens"></div>
            </section>
        </main>
    </div>
    <section class="janela" role="dialog" name="modal" id="modal">
        <div class="modalHeader" name="modalHeader" id="modalHeader">
            <div>
                <span class="modalHeaderTitulo" id="modalHeaderTitulo" name="modalHeaderTitulo"></span>
            </div>
            <div class="modalHeaderAcoes">
                <button class="btn btn-danger" name="modalHeaderAcoesFechar" id="modalHeaderAcoesFechar">X</button>
            </div>
        </div>
        <div class="modalContent" name="modalContent" id="modalContent"></div>
        <div class="modalFooter" name="modalFooter" id="modalFooter">
            <button class="btn btn-primary" name="modalFooterBotaoConfirmar" id="modalFooterBotaoConfirmar">Confirmar</button>
        </div>
    </section>
    <div class="modalContentSetor">
        <input type="text" class="form-control modalSetorIdSetor" name="modalSetorIdSetor" id="modalSetorIdSetor" readonly placeholder="Código">
        <input type="text" class="form-control modalSetorNomeSetor" name="modalSetorNomeSetor" id="modalSetorNomeSetor" placeholder="Nome do Setor...">
    </div>
    <div class="modalContentPergunta">
        <input type="text" class="form-control modalPerguntaId" name="modalPerguntaId" id="modalPerguntaId" readonly placeholder="Código">
        <select class="modalPerguntaSetor" name="modalPerguntaSetor" id="modalPerguntaSetor"></select>
        <textarea type="text" class="form-control modalPerguntaQuestao" name="modalPerguntaQuestao" id="modalPerguntaQuestao" placeholder="Informe a pergunta..."></textarea>
    </div>
    <div class="modalContentDispositivo">
        <input type="text" class="form-control modalDispositivoId" name="modalDispositivoId" id="modalDispositivoId" readonly>
        <select class="modalDispositivoSetor" name="modalDispositivoSetor" id="modalDispositivoSetor"></select>
        <input type="text" class="form-control modalDispositivoNome" name="modalDispositivoNome" id="modalDispositivoNome" placeholder="Informe o nome do dispositivo...">
    </div>
    <div class="setores" id="setores" name="setores">
        <div class="menuSetores">
            <button class="btn btn-success" id="btnIncluirSetor" name="btnIncluirSetor">Incluir</button>
        </div>
        <div class="consulta">
            <table id="tabelaSetores" name="tabelaSetores">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Alterar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="totalizadorConsulta">
            <span class="totalSetores" id="totalSetores" name="totalSetores"></span>
        </div>
    </div>
    <div class="perguntas" id="perguntas" name="perguntas">
        <div class="filtrosPerguntas">
            <span>Setor:</span>
            <select class="filtrosPerguntaslistaSetores" name="filtrosPerguntaslistaSetores" id="filtrosPerguntaslistaSetores"></select>
            <button class="btn btn-primary" id="btnCarregarPerguntas" name="btnCarregarPerguntas">Pesquisar</button>
        </div>
        <div class="acoesPerguntas">
            <button class="btn btn-success" id="btnIncluirPergunta" name="btnIncluirPergunta">Incluir</button>
        </div>
        <div class="consulta">
            <table class="tabelaPerguntas" id="tabelaPerguntas" name="tabelaPerguntas">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Pergunta</th>
                        <th>Alterar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="totalizadorConsulta">
            <span class="totalPerguntas" id="totalPerguntas" name="totalPerguntas"></span>
        </div>
    </div>
    <div class="avaliacoes" id="avaliacoes" name="avaliacoes">
        <div class="filtrosAvaliacoes">
            <span>Setor:</span>
            <select class="filtrosAvaliacoesListaSetores" name="filtrosAvaliacoesListaSetores" id="filtrosAvaliacoesListaSetores"></select>
            <button class="btn btn-primary" id="btnCarregarAvaliacoes" name="btnCarregarAvaliacoes">Pesquisar</button>
        </div>
        <div class="consulta">
            <table class="tabelaAvaliacoes" id="tabelaAvaliacoes" name="tabelaAvaliacoes">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="totalizadorConsulta">
            <span class="totalAvaliacoes" id="totalAvaliacoes" name="totalAvaliacoes"></span>
        </div>
    </div>
    <div class="dispositivos" id="dispositivos" name="dispositivos">
        <div class="menuDispositivos">
            <button class="btn btn-success" id="btnIncluirDipositivo" name="btnIncluirDispositivo">Incluir</button>
        </div>
        <div class="consulta">
            <table id="tabelaDispositivos" name="tabelaDispositivos">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Setor</th>
                        <th>Alterar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="totalizadorConsulta">
            <span class="totalDispositivos" id="totalDispositivos" name="totalDispositivos"></span>
        </div>
    </div>
    <script src="/ProgramacaoWebUnidavi/TrabalhoSemestral/public/js/header.js"></script>
    <script src="/ProgramacaoWebUnidavi/TrabalhoSemestral/public/js/painelAdministrador.js"></script>
</body>
</html>