* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    margin: 30px auto;
    width: 800px;
}

th,
td {
    border: 1px solid black;
    padding: 6px 10px;
    text-align: center;
    font-size: 16px;
}

table {
    border: 2px solid #000;
}

.titulo-semestre {
    background-color: grey;
    color: black;
    font-weight: bold;
}

.linha-notas th {
    background-color: white;
    font-weight: bold;
}

.aluno {
    background-color: grey;
    font-weight: bold;
    text-align: left;
}

.botoes {
    display: flex;
    justify-content: start;
    gap: 1vw;
}

.botao {
    border: 1px solid black;
    border-radius: 10px;
    width: 10vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    cursor: pointer;
    color: white;
}