* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

html, body {
  height: 100%;
  margin: 0;
}

.app {
  height: 100vh;
  width: 100vw;
}