main {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: inline;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 2vw;
    width: max-content;
    min-height: 150px;
    min-width: 150px;
}

.login > * {
    margin: 0.2rem;
}

.tituloLogin{
    display: block;
    color: #5C748C;
    font-weight: 600;
}

main input{
    width: 100%;
    height: 15%;
    font-size: 1.3rem !important;
}

main span {
    font-size: 1.5rem;
}

@media screen and (max-width: 900px) {
    .atalhoAvaliacao {
        max-width: 20%;
    }

    .login {
        width: 60%;
    }

    .hintLogin {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .atalhoAvaliacao {
        max-width: 50%;
    }

    .login {
        width: 80%;
    }

    main span {
        font-size: 1rem;
    }

    main input{
        height: 8%;
    }
}

@media screen and (max-width: 400px) {
    .hintLogin {
        font-size: 0.9rem;
    }
}

@media screen and (max-height: 600px) {
    .header {
        height: 20%;
    }

    .main {
        height: 80%;
    }
}