* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    overflow: hidden;
}

.atalhoAvaliacao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    max-width: 15%;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
    column-gap: 1vw;
    transition: transform 0.5s ease, background-color 0.5s ease;
    padding: 0.5rem;
}

.atalhoAvaliacao:hover {
    background-color: #4e9af1;
}

.atalhoAvaliacao:hover .atalhoAvaliacaoTitulo {
    opacity: 1;
    transition: opacity 0.3s;
}

.atalhoAvaliacaoTitulo{
    opacity: 0;
    color: white;
    font-size: 1rem;
    word-break: break-all;
}

.atalhoAvaliacaoImagem {
    width: auto;
    max-height: 100%;
}

main {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 50%;
    height: 80%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 2vw;
    flex-wrap: wrap;
    white-space: nowrap;
    overflow: auto;
}

.tituloLogin{
    font-family: 'Inter', sans-serif;
    color: #5C748C;
    font-weight: 600;
    flex: 0 1;
}

main input{
    width: 100%;
    height: 15%;
}

main span {
    font-size: 1.5rem;
}

@media screen and (max-width: 900px) {
    .atalhoAvaliacao {
        max-width: 20%;
    }

    .login {
        width: 60%;
    }

    .hintLogin {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .atalhoAvaliacao {
        max-width: 50%;
    }

    .login {
        width: 80%;
    }

    main span {
        font-size: 1rem;
    }

    main input{
        height: 8%;
    }
}

@media screen and (max-width: 400px) {
    .hintLogin {
        font-size: 0.9rem;
    }
}

@media screen and (max-height: 600px) {
    .header {
        height: 20%;
    }

    .main {
        height: 80%;
    }
}