.janela {
    display: none;
    position: absolute;
    justify-content: space-between;
    flex-direction: column;
    width: max-content;
    z-index: 1;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.janela > * {
    margin: 1rem;
}

.modalHeader {
    display: flex;
    flex-direction: row;
}

.modalHeader > * {
    width: 50%;
    align-items: center;
}

.modalHeaderAcoes {
    display: flex;
    justify-content: end;
}

.modalContent {
    display: inline-grid;
    row-gap: 0.5rem;
}