.navegacao {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 99999;
    border-right: 1px solid black;
    height: 100%;
    width: max-content;
    padding: 10px;
    background-color: #87ceeb;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.navegacaoVisivel {
    transform: translateX(0);
    opacity: 1;
}

.navegacao span {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: white;
}