/**
 * ================================================================================================================================ 
 * ============================================================ MAIN ============================================================ 
 * ================================================================================================================================ 
 */

main {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    height: 70vh;
    min-width: 300px;
}

.dashboardMenu {
    border-right: 1px solid black;
    min-width: 15vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #87ceeb;
    border-radius: 10px 0px 0px 10px;
    flex-wrap: wrap;
    white-space: nowrap;
    overflow: hidden;
    padding: 0.5rem;
}

.dashboardMenuOption {
    color: white;
    width: 100%;
    height: 5vh;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboardMenuOption:hover {
    background-color: white;
    color: black;
}

.dashboardMenuOptionSelecionado {
    background-color: white;
    color: black;
}

.dashboardMenuItens {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.dashboardMenuItens table {
  width: 100%;
  border-collapse: collapse;
}

.dashboardMenuItens tbody {
  height: 100%;
}

.dashboardMenuItens th,
.dashboardMenuItens td {
  border: 1px solid #888;
  text-align: center;
  padding: 0.5rem;
}

.dashboardMenuItens button {
  color: white;
}

.aguarde{
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.consulta {
    overflow-y: auto;
}

.totalizadorConsulta {
    display: flex;
    justify-content: end;
    padding: 0.5rem;
}

/**
 * ================================================================================================================================ 
 * ============================================================ SETORES =========================================================== 
 * ================================================================================================================================ 
 */

.setores {
    display: none;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}

.menuSetores {
    padding: 0.5rem;
    column-gap: 5rem;
}

/**
 * ================================================================================================================================ 
 * =========================================================== PERGUNTAS ========================================================== 
 * ================================================================================================================================ 
 */

.perguntas {
    display: none;
    overflow-y: hidden;
    height: 100%;
}

.filtrosPerguntas {
    padding: 0.5rem;
    column-gap: 5rem;
}

.filtrosPerguntaslistaSetores{
    border-radius: 5px;
}

.acoesPerguntas {
    padding: 0.5rem;
    column-gap: 5rem;
}

/**
 * ================================================================================================================================ 
 * =========================================================== AVALIAÇÕES =========================================================
 * ================================================================================================================================ 
 */

 .avaliacoes {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
    height: 100%;
}

/**
 * ================================================================================================================================ 
 * ========================================================== DISPOSITIVOS ========================================================
 * ================================================================================================================================ 
 */

 .dispositivos {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
    height: 100%;
}

/**
 * ================================================================================================================================ 
 * ============================================================ MODAIS ============================================================ 
 * ================================================================================================================================ 
 */

.modalContentSetor{
    display: none;
}

.modalContentPergunta {
    display: none;
}